@import "../../global.scss";

.topbar {
    width: 100%;
    height: 60px;
    background-color: Black;
    color: white;
    position: fixed;
    top: 0;

    .wrapper {
        width: 100%;
        height: 100%;
        //background-color: blue;
        display: flex;
        align-items: center;
        justify-content: center;

        .center {
            width: 100%;
            height: 100%;
            //background-color: blue;
            display: flex;
            flex-direction: row;
            align-items: center;

            .name {
                display: flex;
                flex: 0.2;
                align-items: center;
                justify-content: center;
                //background-color: blue;

                .logo {
                    font-family: "archiaregular";
                    font-size: 20px;
                    font-weight: 700;
                    color: inherit;
                    text-decoration: none;
                }
            }
    
            .menu {
                display: flex;
                flex: 0.8;
                align-items: center;
                justify-content: right;
                //background-color: red;
                
                .itemContainer {
                    display: flex;
                    align-items: center;
                    margin-left: 40px;
                    margin-right: 40px;

                    .icon {
                        font-size: 20px;
                        margin-left: 5px;
                        margin-right: 5px;
                    }

                    a {
                        font-family: "archiaregular";
                        font-size: 16px;
                        font-weight: 300;
                        color:inherit;
                        text-decoration: none;

                        &:hover {
                            font-weight: 600;
                            color: yellow;
                        }
                    }
                }
            }
        }
    }
}